.wrapper {
  display: flex;
  height: min-content;
  width: min-content;

  border-radius: 26px;
  background: #1E1E1E;
  padding: 16px;
  gap: 27px;
}

.leftSection {
  max-width: 250px;
  gap: 14px;
}

.cardImage {
  width: 250px;
  height: 250px;

  border-radius: 25px;
  background: gray;
}

.buttonsSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 5px;
}

.messageButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 38px;
  padding: 12px 16px;
  border-radius: 19px;
  background: linear-gradient(120deg, #4131FF, #BC88FF);
  font-family: NeueMachina-Regular, serif;
  font-size: 14px;
  letter-spacing: 1px;
  gap: 8px;
  cursor: pointer;
}

.meetingButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 38px;
  padding: 12px 16px;
  border-radius: 19px;
  background: linear-gradient(120deg, #6631FF, #FD9800);
  font-family: NeueMachina-Regular, serif;
  font-size: 14px;
  letter-spacing: 1px;
  gap: 8px;
  cursor: pointer;
}

.linksBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 226px;
  height: 63px;
  gap: 14px;
  border-radius: 19px;
  padding: 12px 16px 12px 16px;
  background: #181818;
}

.linksBlock_title {
  display: flex;
  align-items: center;

  font-size: 14px;
  height: 14px;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
  gap: 8px;
  font-weight: 400;

}

.icon {
  width: 14px;
  height: 14px;
}

.linkSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  font-family: NeueMachina-Regular, serif;
  font-size: 14px;

  font-weight: 400;
}

.copyIcon {
  width: 10px;
  height: 10px;

  cursor: pointer;
}

.clickedIcon {
  width: 12px;
  height: 12px;

  color: #BC88FF;
}

.leftSection {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.rightSection {
  height: 100%;

  gap: 14px;


  display: flex;
  flex-direction: column;
}

.rightSectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightSectionHeader_title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
}


.cardDescriptionBlock {
  display: flex;
  flex-direction: column;

  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
  font-size: 10px;
  font-weight: 300;
  background: #181818;
  border-radius: 19px;
  height: 126px;
  width: 484px;
  padding: 16px 12px;
}

.descriptionHeader {
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  gap: 8px;
  color: white;
  padding-bottom: 12px;
}

.cardDescription {
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
  font-size: 10px;
  font-weight: 300;
  background: #181818;
}

.typeSection {
  display: flex;
  align-content: center;
  align-items: flex-start;

  letter-spacing: 1px;
  background: #181818;
  padding: 16px 12px;
  width: 484px;
  border-radius: 19px;
  gap: 24px;
}

.typeSection_header {
  display: flex;
  align-items: center;

  font-family: NeueMachina-Regular, serif;
  font-size: 12px;
  font-weight: 400;
  gap: 8px;
  color: #FFFFFF;
}

.typeSpan {
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  border-radius: 9px;

  color: #181818;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
  cursor: default;
  padding: 3px 12px;
}

.spanSection {
  box-sizing: border-box;
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.proposalSection {
  display: flex;
  flex-direction: column;

  border-radius: 19px;
  background: #181818;
  padding: 16px 12px;
  width: 484px;
}

.proposalListSection {
  padding: 16px 12px;
}

.proposalTitle {
  display: flex;
  align-items: center;

  font-family: NeueMachina-Regular, serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  gap: 8px;
}

.proposalList {
  font-family: NeueMachina-Regular, serif;
  font-size: 10px;
  font-weight: 300;
  padding-bottom: 8px;
  letter-spacing: 1px;
}

.contactsSection {
  display: flex;

  gap: 14px;
  border-radius: 19px;
  width: 484px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  gap: 10px;

}

.contactsListSection {
  font-family: NeueMachina-Regular, serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

.leftContactsSection {
  border-radius: 19px;
  background: #181818;
  padding: 16px 12px;
  height: auto;
  width: 220px;
}

.contacts {
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
  gap: 10px;
}

.rightContactsSection {
  display: flex;
  flex-direction: column;

  width: 260px;
  gap: 14px;
}

.contactsList {
  width: 215px;
  font-family: NeueMachina-Regular, serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

.locationSection {
  display: flex;
  align-items: center;

  width: 100%;
  background: #181818;
  border-radius: 19px;
  gap: 24px;
  padding: 16px 12px;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.socialSection {
  display: flex;
  align-items: center;

  width: 100%;
  background: #181818;
  border-radius: 19px;
  padding: 16px 12px;
  gap: 24px;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.locationTitle {
  display: flex;
  gap: 8px;

  font-size: 12px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.locationName {
  font-size: 14px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.socialTitle {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 12px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.socialIcons {
  display: flex;
  gap: 12px;
}
