.wrapper {
  display: flex;
  align-items: center;
  gap: 1.8229vw;
  height: fit-content;
}

.userAccountWrapper {
  display: flex;
  align-items: center;

  border-radius: 0.625vw;
  background: #1E1E1E;
  box-shadow: 0 2px 8.8px 0 rgba(18, 18, 18, 0.15);

  padding: 0.625vw;
  height: 2.636vw;

  gap: 0.833vw;
}

.userNameIcons {
  cursor: pointer;
  width: 1.563vw;
  height: 1.563vw;
}

.userName {
  font-size: 1.1vh;
  font-weight: 500;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 0.05vw;
}

.userType {
  font-size: 0.8vh;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 0.05vw;
  color: #A0A0A0;
}

.icon {
  color: #A0A0A0;

  width: 1.523vw;
  height: 1.523vw;

  cursor: pointer;
  transition: color 0.2s ease-in;

  &:hover {
    color: #FFFFFF;
  }
}

.notificationsWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.636vw;
  height: 2.636vw;
  background: #292929;
  border-radius: 50%;

  cursor: pointer;
}

.counter {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 0.677vw;
  height: 0.67vw;
  background: rgba(255, 98, 49, 1);
  border-radius: 50%;

  font-family: NeueMachina-Regular, serif;
  font-size: 0.8vh;
  font-weight: 500;
}