.wrapper {
  display: flex;
  gap: 35px;
  margin-top: 41px;
  margin-bottom: 83px;
  width: 300px;
}

.userAccount {
  display: flex;
  align-items: center;

  border-radius: 12px;
  background: #1E1E1E;
  padding: 12px;
  height: 45px;

}

.rightSection {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.userName {
  font-size: 12px;
  font-weight: 500;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.userType {
  font-size: 8px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
  color: #A0A0A0;
}

.userIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userNameIcons {
  cursor: pointer;
}

.bellUser {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  padding: 15px;
  background: #292929;
  border-radius: 50%;
  cursor: pointer;
}


.notifications {


}