.wrapper {
  display: flex;
  gap: 35px;
  margin-top: 41px;
  margin-bottom: 86px;
}

.userAccount {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 12px;
  background: #1E1E1E;

  height: min-content;
  width: 220px;

  padding: 12px;

}

.rightSection {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.center {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.userName {
  font-size: 12px;
  font-weight: 500;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.userType {
  font-size: 8px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
  color: #A0A0A0;
}

.userIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bellUser {
  height: 45px;
  width: 45px;
  padding-right: 10px;
}

.userNameIcons {
  cursor: pointer;
}

.notifications {
  padding: 15px;
  cursor: pointer;
  background: #292929;
  border-radius: 50%;
}