.wrapper {
  width: 17.571vw;

  background: #1E1E1E;
  border-radius: 1.354vw;
  padding: 3.286vh 0.937vw 0 1.523vw;

  box-shadow: -0.361vh 0.361vh 2.258vh 0 rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.538vh;
  padding: 0 0 0 0.82vw;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.icon {
  width: 0.833vw;
  height: 0.833vw;
  color: white;
}

.title {
  font-size: 1.769vh;
  font-weight: 500;
  letter-spacing: 0.0694vw;
  font-family: NeueMachina-Regular, serif;
}

.clearBtn {
  display: flex;
  align-items: center;
  color: #BFBFBF;

  font-size: 1.264vh;
  font-weight: 400;
  letter-spacing: 0.0694vw;
  font-family: NeueMachina-Regular, serif;

  transition: color 0.5s ease-in-out;

  &:hover {
    color: #ffffff;
  }
}