.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2.26vh;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.prescription {
  font-size: 36px;
  font-weight: 500;
  font-family: NeueMachina-Regular, serif;
  padding-top: 26px;
  letter-spacing: 1px;
}