.wrapper {
  display: flex;

  gap: 32px;

  width: 100%;
  height: 1240px;

  background: #161616;
}

.sidebar__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #1E1E1E;
  width: 236px;
  padding: 28px 36px;
}

.navButton {
  display: flex;
  align-items: center;

  width: 158px;
  height: 38px;
  gap: 12px;
  color: #A0A0A0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
  border-radius: 10px;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: #9747FF;
    background: #2d2b2b;
  }
}

.icon {
  width: 26px;
  height: 26px;
}

.card__section {
  padding: 28px 0;
}


.userPageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
