.wrapper {
  width: 100%;
  display: flex;
  box-sizing: border-box;

  padding: 5.308vh 2.8114vw 0 1.8743vw;
  background: #161616;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #1E1E1E;
  padding: 28px 36px;
}

.navButton {
  display: flex;
  align-items: center;

  width: 158px;
  height: 38px;
  gap: 12px;
  color: #A0A0A0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
  border-radius: 10px;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: #9747FF;
    background: #2d2b2b;
  }
}

.cardSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  gap: 32px;
}

.cardRightSection {
  //padding-right: 48px;
}

.icon {
  width: 26px;
  height: 26px;
}

.userPageHeader {
  display: flex;
  flex-direction: row;
}

.userCardSection {
  display: flex;
  flex-direction: column;
}


.cardLeftSection {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
