.wrapper {
  display: flex;
  flex-direction: column;

  padding: 1.516vh 0.937vw;
  background: rgba(24, 24, 24, 1);
  border-radius: 1vw;
}

.row {
  flex-direction: row;
  gap: 1.406vw;
}

.header {
  display: flex;
  align-items: center;

  margin-bottom: 1.769vh;

  font-family: NeueMachina-Regular, serif;
  font-size: 1.769vh;
  font-weight: 400;
  line-height: 1.769vh;
  text-align: left;

  gap: 0.313vw;

  svg {
    width: 1.769vh;
  }
}

.row > .header {
  margin-bottom: unset;
}

.underline {
  text-decoration: underline;
}