.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 120px;
  height: 45px;

  z-index: 1;
}

.navBarSection {
  display: flex;
  align-items: center;
  gap: 48px;
  width: auto;
  height: 45px;

  padding-right: 100px;
}

.navBarLinks {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #BFBFBF;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
}

.buttonsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 24px;
  width: auto;

  background: transparent;
}