.headerSection {
  display: flex;
  flex-direction: column;

  height: 28px;
  gap: 12px;
  padding: 0 8px;
}

.logoSection {
  display: flex;
  gap: 12px;
}

.logo {
  width: 26px;
  height: 26px;
}

.headerTitle {
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
  font-size: 22px;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 56px;

}

.subtitle {
  font-size: 10px;
  font-weight: 400;

  font-family: NeueMachina-Regular, serif;

  color: #BFBFBF;

  letter-spacing: 1px;

  padding-left: 12px;
}

.btnList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-decoration: none;

  padding-top: 20px;

}

.navButton {
  display: flex;
  align-items: center;

  width: 158px;
  height: 38px;
  gap: 12px;
  color: #A0A0A0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
  border-radius: 10px;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: #9747FF;
    background: #2d2b2b;
  }
}

.formsButton {
  display: flex;
  align-items: center;

  width: 158px;
  height: 38px;
  gap: 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  letter-spacing: 1px;
  font-family: NeueMachina-Regular, serif;
  border-radius: 10px;
  background: linear-gradient(120deg, #7331FF, #B454FF);
}

.icon {
  width: 26px;
  height: 26px;
}