.wrapper {
  height: 100vh;
  display: flex;
  gap: 14px;
}

.left {
  display: flex;
  flex-direction: column;
}

.cardImage {
  width: 19.74vw;
  height: 27.45vh;

  border-radius: 25px;
  background: gray;
}

.buttonsSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 5px;
}

.messageButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 38px;
  padding: 12px 16px;
  border-radius: 19px;
  background: linear-gradient(120deg, #4131FF, #BC88FF);
  font-family: NeueMachina-Regular, serif;
  font-size: 14px;
  letter-spacing: 1px;
  gap: 8px;
  cursor: pointer;
}

.meetingButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 38px;
  padding: 12px 16px;
  border-radius: 19px;
  background: linear-gradient(120deg, #6631FF, #FD9800);
  font-family: NeueMachina-Regular, serif;
  font-size: 14px;
  letter-spacing: 1px;
  gap: 8px;
  cursor: pointer;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}