.wrapper {
  display: flex;
  gap: 0.82vw;
}

.contactWrapper {
  flex: 1;
}

.contact {
  font-family: NeueMachina-Regular, serif;
  font-size: 1.769vh;
  font-weight: 400;
  line-height: 1.769vh;
  text-align: left;
}

.right {
  width: 15.17vw;

  display: flex;
  flex-direction: column;

  gap: 0.82vw;

  flex: 1;
}

.location {
  font-family: NeueMachina-Regular, serif;
  font-size: 1.769vh;
  font-weight: 400;
  line-height: 1.769vh;
  text-align: left;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1.769vh;

  svg {
    width: 0.82vw;
  }
}

.empty {
  font-family: NeueMachina-Regular, serif;
  font-size: 1.769vh;
  font-weight: 400;
  line-height: 1.769vh;
  text-align: left;
}