.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

}

.accordion {
  width: 100%;
}

.item {
  background: #1E1E1E ;
  margin-bottom: 14px;
}

.title {
  display: flex;
  align-items: center;

  height: 38px;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 0 12px;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
}

.content {
    background: #292929;
    max-height: 0;
    overflow: hidden;

  &.show {
    height: auto;
    max-height: 9999px;
    padding: 16px 12px;
    border-radius: 12px;
  }
}

.contentTitle {
  display: flex;
  align-items: center;

  gap: 6px;
  height: auto;
  max-height: 9999px;
  border-radius: 12px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}