.card {
  width: 100%;
  display: flex;
  align-items: center;

  background: #181818;
  border-radius: 19px;
  padding: 12px 16px;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 24px;

  gap: 8px;

  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-family: NeueMachina-Regular, serif;
  letter-spacing: 1px;
}

.description {
  font-family: NeueMachina-Regular, serif;
  font-weight: 400;
  font-size: 14px;
}

