.text {
  font-family: NeueMachina-Regular, serif;
  font-size: 1.769vh;
  font-weight: 400;
  line-height: 1.769vh;
  text-align: left;
}

.upload {
  transform: rotateX(180deg);
}

.wrapper {
  display: flex;
  gap: 0.82vw;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.82vw;

  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.82vw;

  flex: 1;
}